.react-select__control {
	height: 40px;
	border: white solid !important;
	border-width: 0 0 1px !important;
	border-radius: 5px 5px 0 0 !important;
	background-color: #202020 !important;
}

.react-select__single-value {
	color: white !important;
}

.react-select__menu {
	z-index: 20;
	background-color: #202020 !important;
}
